/*
	Theme Name: Tropicloud
	Theme URI: http://tropicloud.net
	Author: Tapioca Web Boutique
	Author URI: http://tapioca.ws
	Description: Tropicloud Wordpress theme
	Template: salient                             
	Version: 1.0
	
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html

-------------------------------------------------------------------------*/


#header-outer,
#featured {
	background-color: #2f353e !important;
}

header#top #logo {
	float: right;
}

header#top nav > ul,
header#top nav ul li,
header#top nav > ul > li {
	float: left;
}

